/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
*{
    box-shadow: border-box;
    margin: 0;
    padding: 0;

}

html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container>*{
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}


.navbar{
    grid-area: navbar;
}

footer{
    grid-area: footer;
    background-color: black;
    min-height: 100px;
}

footer p{
    color: white;
    text-align: center;
}

.iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: white;
}

/*Medias Queries*/

.grid-container{
    display: grid;
    gap: 10px;
    grid-template:
        "navbar" 50px
        "footer" 100px
}

@media screen and (max-width: 600px){

}

@media (min-width: 600px){
    .grid-container{
        background-color: blue;
        grid-template:
            "navbar navbar" 50px
            "footer footer" 50px/
            200px auto;
    }
}
@media (min-width: 900px){
    .grid-container{
        background-color: rgb(156, 236, 80);
        grid-template:
            "navbar main sidebar" auto
            "footer footer footer" 50px/
            200px auto 200px;
    }
}

.datos{
    text-align: start;
}

section h1{
    background-color: rgb(88, 218, 168);
    color: black;
    display: inline;
    padding: 10px;
    border-style:double;
    position: relative;
    top: 20px;
}

.atras,
.adelante {
  width: 50px;
  height: 50px;
  position:absolute;
  top: 500% !important;
}
.adelante{
    right: -100px;

}
.atras{
    left: -100px;
    transform: scaleX(-1);
}

#cartas p{
    background-color: rgb(170, 241, 167);
}

HTML CSSResult Skip Results Iframe
EDIT ON



body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #83f5f5; 
  padding-left: 30px; 
  padding-right: 30px; 

}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center; 
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #f72a1c; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
  text-align: center;
  margin-right: 30px;
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}

.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

section .mapa{
    display: block;
    margin: 0 auto;
}

section h2{
    text-align: justify;
}

section .perfil{
    margin: 100px;
    border-style: dotted;
    border-color: red;
}

#enviar p {
    font-size: 20px;
}
  